body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

.logo {
  height: 46px;
}

h1 {
  font-size: 5rem;
  margin: 1.32em 0 0.67em 0;
  max-width: 800px;
}

span {
  color: midnightblue;
}

div > img {
  height: 200px;
  float: left;
}

.card {
  display: inline-block;
}

.tile-image {
  margin-right: 50px;
}

.left {
  float: left;
  width: 45%;
}

.right {
  float: right;
  width: 45%;
}

footer {
  clear: both;
  text-align: right;
  color: midnightblue;
}

/* [lightsalmon] Mobile Devices: 319px — 480px
[powderblue] iPads and Tablets: 481px — 1200px
[limegreen] Laptops: 1201px — 1600px
[seagreen] Desktops: 1601px and more */

@media (max-width: 680px) {
  .logo {
    width: 100px;
    height: 17px;
  }

  h1 {
    display: block;
    font-size: 3.5rem;
    text-align: center;
    margin: 0.67em 0;
  }

  .card {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    text-align: justify;
  }

  div > img {
    width: 100%;
    float: none;
    margin-bottom: 10px;
    display: inline;
    object-fit: cover;
  }
}